.wrap-item {
  display: flex;
  justify-content: space-around;
  margin: 0.2rem;
  padding: 0.2rem;
  width: auto;
  border-top: solid 1px rgba(255, 255, 255, 0.534);
  border-bottom: solid 1px rgba(255, 255, 255, 0.24);
  border-radius: 0.5rem;
}

.span,
.done {
  display: inline-block;
  margin: 0.5rem 1rem 0 0;
  padding-bottom: 0.5rem;
  width: 20rem;
  color: transparent;
  text-shadow: 0 0 0 white;
  cursor: pointer;
}

.done {
  text-shadow: 0 0 0 red;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
  color: transparent;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.but {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.3rem;
  width: 3rem;
  height: 1.5rem;
  text-align: center;
  border: solid 1px rgba(255, 0, 0, 0.794);
  border-radius: 0.4rem;
  transition: 0.5s;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 red;
}

.but:hover {
  box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.746);
}

@media (max-width: 510px) {
  .span,
  .done {
    width: 15rem;
  }
}

@media (max-width: 430px) {
  .span,
  .done {
    width: 9rem;
  }
}
